<ng-container *ngIf="note; else emptyTpl">
  <button nz-button nzType="primary" (click)="isVisibleEdit = !isVisibleEdit">
    <i nz-icon nzType="edit"></i>
    Редактировать
  </button>
  <button nz-button nzDanger (click)="isVisibleDelete = !isVisibleDelete"
          nz-popconfirm
          [disabled]="isLoading"
          nzPopconfirmTitle="Вы уверены удалить запись?"
          (nzOnConfirm)="confirmDelete()">
    <i nz-icon nzType="delete"></i>
    Удалить
  </button>
  <br>
  <br>
  <nz-row [nzGutter]="16" *ngIf="note">
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValue]="note.login" [nzTitle]="'Login'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValue]="note.url" [nzTitle]="'URL'"></nz-statistic>
    </nz-col>
  </nz-row>
  <br>
  <nz-row [nzGutter]="16" *ngIf="note">
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValue]="note.mark" [nzTitle]="'Mark'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValueTemplate]="passTpl" [nzTitle]="'Password'"></nz-statistic>
    </nz-col>
  </nz-row>

</ng-container>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Master Password" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [nzOkDisabled]="isLoading" [nzCancelDisabled]="isLoading" [nzOkLoading]="isLoading">
  <ng-container *nzModalContent>
    <h3>Введите MasterPassword</h3>
    <nz-input-group nzPrefixIcon="lock" [nzAddOnAfter]="iconMasterTpl">
      <input nz-input [type]="showMaster ? 'text' : 'password'" placeholder="MasterPassword"
             [(ngModel)]="masterPassword" required>
    </nz-input-group>
  </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="isVisibleEdit" nzTitle="Редактирование {{note?.login}}" (nzOnCancel)="onEditCancel()" (nzOnOk)="onEditOk()"
          [nzOkDisabled]="isLoading" [nzCancelDisabled]="isLoading" [nzOkLoading]="isLoading" nzOkText="Сохранить">
  <ng-container *nzModalContent>
    <form [formGroup]="editForm">
      <nz-input-group>
        <label>Login</label>
        <input nz-input type="text" formControlName="login" placeholder="login">
      </nz-input-group>
      <nz-input-group>
        <label>URL</label>
        <input nz-input type="text" formControlName="url" placeholder="url">
      </nz-input-group>
      <nz-input-group nzPrefixIcon="lock" [nzAddOnAfter]="iconEditTpl">
        <input nz-input [type]="showEdit ? 'text' : 'password'" formControlName="password" placeholder="password">
      </nz-input-group>
      <nz-input-group nzPrefixIcon="lock" [nzAddOnAfter]="iconMasterTpl">
        <input nz-input [type]="showMaster ? 'text' : 'password'" formControlName="masterPassword" placeholder="MasterPassword">
      </nz-input-group>
      <nz-input-group>
        <label>Mark</label>
        <input nz-input type="mark" formControlName="mark" placeholder="mark">
      </nz-input-group>
    </form>
  </ng-container>
</nz-modal>



<ng-template #iconTpl>
  <i nz-icon [nzType]="(show && !isEdit) ? 'eye' : 'eye-invisible'" (click)="showPassword()" nzTheme="outline"></i>
  <!--  <i class="generate-password" nz-icon nzType="bulb" nzTheme="outline" (click)="generatePassword()"></i>-->
</ng-template>

<ng-template #iconMasterTpl>
  <i nz-icon [nzType]="showMaster ? 'eye' : 'eye-invisible'" (click)="showMaster = !showMaster" nzTheme="outline"></i>
</ng-template>

<ng-template #iconEditTpl>
  <i nz-icon [nzType]="showEdit ? '' : 'edit'" (click)="showPassword(true)" nzTheme="outline"></i>
  <i class="generate-password" nz-icon nzType="bulb" nzTheme="outline" (click)="generatePassword()"></i>
</ng-template>

<ng-template #passTpl>
  <nz-input-group nzPrefixIcon="lock" [nzAddOnAfter]="iconTpl">
    <input nz-input [type]="(show && !isEdit) ? 'text' : 'password'" [ngModel]="decrPass" placeholder="password">
  </nz-input-group>
</ng-template>


<ng-template #emptyTpl>
  <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Не найдено записи по запросу">
    <div nz-result-extra>
      <h3>Выберите в списке нужную запись или Вы всегда можете добавить новую запись :) </h3>
    </div>
  </nz-result>
</ng-template>
